* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}



body {
	height: 100vh;
	width: 100%;
	
	
}



.modal-dialog {
    max-width: 100%!important;
	margin: .5rem!important;
	height: 90vh!important;


}


#loading {
	width: 100%;
	position: fixed;
	z-index: 99999;
	height: 100vh;
	background: #fff
	url('Images/new-load.gif')
	no-repeat center;
	
	
}

#myModal {
	height: 90vh;
	width: 100%;
}

.modal-open, .modal {
	overflow-y: hidden!important;
}

.modal-content {
	height: 100%
}

.modal-body {
	height: 100%;
	padding: 0px!important;
	background-color: black;
}

.zoom-crystal {
	max-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	padding: 0vh 15vw 0vh 15vw;
	
	

	background-size: cover;
}

#zoom-canvas {

	max-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	padding: 0vh 15vw 0vh 15vw;

}








.full-box {
	display: grid;
	grid-template-columns: 60% 40%;
	max-height: 100vh;
	max-width: 100%;
	
	
	

}

.frame {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: black;
	
    
	
}



.main-crystal {
	width: 100vw;
}


.crystal {
	max-width: 900px;
	width: 60%;
	position: absolute;
	right: 0;
	bottom: 0;
	max-height: 1280px;
	height: 80%;
	left: 20%;
	margin-left: -20px;
	top: 10%;
	margin-top: -10px;
	
	opacity: 0.6;

	

		
}




#canvas canvas {
	width: 353px;
	position: relative;

}


.input-row {
	width: 100%;

}

.input-form {
	height: 100%;
	width: 100%;
	

}



#menu ul {
	list-style: none;
	display: flex;
	border-bottom: 1px solid #cacaca;

}

#menu ul > li {
	flex: 1;
	cursor: pointer;
	text-align: center;
	padding: 20px;

	
	font-weight: 700;
	background-color: #B20000; 

}

#menu ul li a {
	text-decoration: none;
	color: white;
	
	width: 100%;
	height: 100%;

}


#zoom-btn {
	
	left: 20px;
	top: 90vh;
	cursor: pointer;
	position: absolute;
	
}


#foot {
	color: white;
	font-size: 1vw;
	position: absolute;
	top: 60%;
	width: 100%;
	padding-left: 27vw;
	padding-right: 26vw;


}

#main-zoom {
	max-height: 50%;
	height: 50vh;
	width: 100%;
}

#top-title {
	color: white;
	font-size: 1vw;
	position: absolute;
	top: 25%;
	width: 100%;
	padding-left: 27vw;
	padding-right: 26vw;
	
}

.footer {
	font-size: 12px;
	font-weight: 500;
	color: #B20000;
	text-align: center;
	width: 100%;
	margin-top: 30px;
	

}

.footer a {
	text-decoration: none;
}

@media only screen and (max-width: 700px) {
	.full-box {
		
		display: flex;
		flex-direction: column;
		
		width: 100%;
  		height: 100vh;
  		
	}

	
	body {
		
		width: 100%;
  		height: 100%;
  		

	}

	.input-form {
		
		/*flex: 1;*/

		/*height: 80vh;*/
		/*height:  87.5vw;*/
		
		height: 50vh;
		width: 100%;
		flex: 1;

		position: relative;
		top: -5px;


	}

	.main-crystal {
		text-align: center;
		align-items: center;
		align-content: center;
		align-self: center;
	}

	.crystal {
		
	max-width: 850px!important;
	width: 90vw;
	position: absolute;
	bottom: 5px;
	/*max-height: 1280px;*/
	height: 90%;
	left: 8%;
	top: 5%;
	padding: 2vh 20vw;
		

		

	}

	.frame {
		
		
		/*flex: 1;*/
		width: 100%;
		/*height: 100%*/ ;
		height: 50vh;
		
	}

	


#menu ul > li {
	padding: 20px;
}

#menu {
	font-size: small;
}



#zoom-btn{
	top: 0!important;
	left: 10px!important;
}



#foot {
	
	font-size: 1vw;
	top: 60%;
	padding-left: 45vw;
	padding-right: 45vw; 


}

.modal-dialog {
    
	height: 80vh!important;


}

#top-title {
	
	font-size: 1vw;
	top: 25%;
	padding-left: 45vw;
	padding-right: 45vw; 



}



	


}


@media only screen and (max-width: 350px) {
	#menu ul {
		display: block!important;
	}

	#menu ul > li {
	border-bottom: 1px solid ghostwhite!important;
}
}








